In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import math
import warnings
%matplotlib inline

In [2]:
warnings.filterwarnings('ignore')

In [3]:
Dataset='Datsets/'

In [4]:
EPL_2013=pd.read_csv(Dataset+"2012-13.csv",parse_dates=['Date'])
EPL_2014=pd.read_csv(Dataset+"2013-14.csv",parse_dates=['Date'])
EPL_2015=pd.read_csv(Dataset+"14-15.csv",parse_dates=['Date'])
EPL_2016=pd.read_csv(Dataset+"15-16.csv",parse_dates=['Date'])

**Getting sample 5 rows from 2012-2016 data of English premier league**

In [35]:
EPL_2013.head(5)
EPL_2014.head(5)
EPL_2015.head(5)
EPL_2016.head(5)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,C Foy,...,2.05,23,-1.25,2.02,1.96,1.96,1.91,1.44,4.72,8.71
1,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,M Oliver,...,1.92,21,-0.50,1.83,1.80,2.14,2.09,1.84,3.75,4.75
2,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,M Atkinson,...,1.92,23,0.00,1.93,1.88,2.03,1.97,2.83,3.35,2.72
3,2012-08-18,QPR,Swansea,0,5,A,0,1,A,L Probert,...,1.73,22,-0.25,1.80,1.75,2.21,2.13,2.00,3.53,4.15
4,2012-08-18,Reading,Stoke,1,1,D,0,1,A,K Friend,...,1.67,24,-0.25,2.07,2.01,1.91,1.86,2.47,3.30,3.22

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,2013-08-17,Arsenal,Aston Villa,1,3,A,1,1,D,A Taylor,...,2.37,NaN,NaN,NaN,NaN,NaN,NaN,1.44,5.00,8.05
1,2013-08-17,Liverpool,Stoke,1,0,H,1,0,H,M Atkinson,...,2.02,NaN,NaN,NaN,NaN,NaN,NaN,1.42,4.62,10.19
2,2013-08-17,Norwich,Everton,2,2,D,0,0,D,M Oliver,...,1.82,NaN,NaN,NaN,NaN,NaN,NaN,3.81,3.27,2.21
3,2013-08-17,Sunderland,Fulham,0,1,A,0,0,D,N Swarbrick,...,1.77,NaN,NaN,NaN,NaN,NaN,NaN,2.52,3.23,3.16
4,2013-08-17,Swansea,Man United,1,4,A,0,2,A,P Dowd,...,1.98,NaN,NaN,NaN,NaN,NaN,NaN,3.62,3.41,2.22

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,D,1.0,1.0,D,J Moss,...,2.10,24.0,-1.50,1.81,1.78,2.20,2.10,1.29,5.90,12.75
1,2014-08-16,Leicester,Everton,2.0,2.0,H,1.0,2.0,H,M Jones,...,1.80,22.0,0.25,1.88,1.85,2.10,2.02,3.11,3.40,2.47
2,2014-08-16,Man United,Swansea,1.0,2.0,H,0.0,1.0,D,M Dean,...,2.13,25.0,-1.50,2.18,2.08,1.87,1.79,1.45,4.81,8.25
3,2014-08-16,QPR,Hull,0.0,1.0,A,0.0,0.0,A,C Pawson,...,1.58,24.0,0.00,1.80,1.73,2.25,2.14,2.31,3.24,3.59
4,2014-08-16,Stoke,Aston Villa,0.0,1.0,D,0.0,0.0,A,A Taylor,...,1.60,23.0,-0.50,1.95,1.91,2.02,1.96,2.01,3.34,4.51

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,2015-08-08,Bournemouth,Aston Villa,0,1,D,0,0,D,M Clattenburg,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,2015-08-08,Chelsea,Swansea,2,2,H,2,1,H,M Oliver,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,2015-08-08,Everton,Watford,2,2,H,0,1,D,M Jones,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,2015-08-08,Leicester,Sunderland,4,2,A,3,0,A,L Mason,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,2015-08-08,Man United,Tottenham,1,0,D,1,0,A,J Moss,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04

** Changing object to category type for EPL 2013 dataset **

In [6]:
EPL_2013.Referee=EPL_2013.Referee.astype('category')
EPL_2013.HomeTeam=EPL_2013.HomeTeam.astype('category')
EPL_2013.AwayTeam=EPL_2013.AwayTeam.astype('category')
EPL_2013.HTR=EPL_2013.HTR.astype('category')
EPL_2013.FTR=EPL_2013.FTR.astype('category')
EPL_2013.Div=EPL_2013.Div.astype('category')

** Changing object to category type for EPL 2014 dataset **

In [7]:
EPL_2014.Referee=EPL_2014.Referee.astype('category')
EPL_2014.HomeTeam=EPL_2014.HomeTeam.astype('category')
EPL_2014.AwayTeam=EPL_2014.AwayTeam.astype('category')
EPL_2014.HTR=EPL_2014.HTR.astype('category')
EPL_2014.FTR=EPL_2014.FTR.astype('category')
EPL_2014.Div=EPL_2014.Div.astype('category')

** Changing object to category type for EPL 2015 dataset **

In [8]:
EPL_2015.Referee=EPL_2015.Referee.astype('category')
EPL_2015.HomeTeam=EPL_2015.HomeTeam.astype('category')
EPL_2015.AwayTeam=EPL_2015.AwayTeam.astype('category')
EPL_2015.HTR=EPL_2013.HTR.astype('category')
EPL_2015.FTR=EPL_2013.FTR.astype('category')
EPL_2015.Div=EPL_2015.Div.astype('category')

** Changing object to category type for EPL 2016 dataset **

In [9]:
EPL_2016.Referee=EPL_2016.Referee.astype('category')
EPL_2016.HomeTeam=EPL_2016.HomeTeam.astype('category')
EPL_2016.AwayTeam=EPL_2016.AwayTeam.astype('category')
EPL_2016.HTR=EPL_2013.HTR.astype('category')
EPL_2016.FTR=EPL_2013.FTR.astype('category')
EPL_2016.Div=EPL_2016.Div.astype('category')

**Checking the unique value in Div column of all datasets to determine its usefullness**

In [10]:
EPL_2013.Div.cat.categories.unique
EPL_2014.Div.cat.categories.unique
EPL_2015.Div.cat.categories.unique
EPL_2016.Div.cat.categories.unique

**Drop Div column**

In [11]:
EPL_2013.drop(['Div'],axis=1,inplace=True)
EPL_2014.drop(['Div'],axis=1,inplace=True)
EPL_2015.drop(['Div'],axis=1,inplace=True)
EPL_2016.drop(['Div'],axis=1,inplace=True)

#### Created Date frame of only Match details

In [12]:
EPL_2013_Matches=EPL_2013.iloc[0:,0:22]
EPL_2014_Matches=EPL_2014.iloc[0:,0:22]
EPL_2015_Matches=EPL_2015.iloc[0:,0:22]
EPL_2016_Matches=EPL_2016.iloc[0:,0:22]
EPL_2013_Matches.head(5)
EPL_2013_Matches['season']=2013
EPL_2014_Matches.head(5)
EPL_2014_Matches['season']=2014
EPL_2015_Matches.head(5)
EPL_2015_Matches['season']=2015
EPL_2016_Matches.head(5)
EPL_2016_Matches['season']=2016

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,C Foy,...,4,2,12,8,7,0,0,0,0,0
1,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,M Oliver,...,9,2,12,11,6,3,0,0,0,0
2,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,M Atkinson,...,4,6,12,8,3,5,2,2,0,0
3,2012-08-18,QPR,Swansea,0,5,A,0,1,A,L Probert,...,11,8,11,14,5,3,2,2,0,0
4,2012-08-18,Reading,Stoke,1,1,D,0,1,A,K Friend,...,3,3,9,14,4,3,2,4,0,1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2013-08-17,Arsenal,Aston Villa,1,3,A,1,1,D,A Taylor,...,4,4,15,18,4,3,4,5,1,0
1,2013-08-17,Liverpool,Stoke,1,0,H,1,0,H,M Atkinson,...,11,4,11,11,12,6,1,1,0,0
2,2013-08-17,Norwich,Everton,2,2,D,0,0,D,M Oliver,...,2,6,13,10,6,8,2,0,0,0
3,2013-08-17,Sunderland,Fulham,0,1,A,0,0,D,N Swarbrick,...,3,1,14,14,6,1,0,3,0,0
4,2013-08-17,Swansea,Man United,1,4,A,0,2,A,P Dowd,...,6,7,13,10,7,4,1,3,0,0

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,D,1.0,1.0,D,J Moss,...,6.0,2.0,13.0,19.0,9.0,3.0,2.0,2.0,0.0,1.0
1,2014-08-16,Leicester,Everton,2.0,2.0,H,1.0,2.0,H,M Jones,...,3.0,3.0,16.0,10.0,3.0,6.0,1.0,1.0,0.0,0.0
2,2014-08-16,Man United,Swansea,1.0,2.0,H,0.0,1.0,D,M Dean,...,5.0,4.0,14.0,20.0,4.0,0.0,2.0,4.0,0.0,0.0
3,2014-08-16,QPR,Hull,0.0,1.0,A,0.0,0.0,A,C Pawson,...,6.0,4.0,10.0,10.0,8.0,9.0,1.0,2.0,0.0,0.0
4,2014-08-16,Stoke,Aston Villa,0.0,1.0,D,0.0,0.0,A,A Taylor,...,2.0,2.0,14.0,9.0,2.0,8.0,0.0,3.0,0.0,0.0

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2015-08-08,Bournemouth,Aston Villa,0,1,D,0,0,D,M Clattenburg,...,2,3,13,13,6,3,3,4,0,0
1,2015-08-08,Chelsea,Swansea,2,2,H,2,1,H,M Oliver,...,3,10,15,16,4,8,1,3,1,0
2,2015-08-08,Everton,Watford,2,2,H,0,1,D,M Jones,...,5,5,7,13,8,2,1,2,0,0
3,2015-08-08,Leicester,Sunderland,4,2,A,3,0,A,L Mason,...,8,5,13,17,6,3,2,4,0,0
4,2015-08-08,Man United,Tottenham,1,0,D,1,0,A,J Moss,...,1,4,12,12,1,2,2,3,0,0

In [13]:
EPL_2016_Matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 23 columns):
Date        380 non-null datetime64[ns]
HomeTeam    380 non-null category
AwayTeam    380 non-null category
FTHG        380 non-null int64
FTAG        380 non-null int64
FTR         380 non-null category
HTHG        380 non-null int64
HTAG        380 non-null int64
HTR         380 non-null category
Referee     380 non-null category
HS          380 non-null int64
AS          380 non-null int64
HST         380 non-null int64
AST         380 non-null int64
HF          380 non-null int64
AF          380 non-null int64
HC          380 non-null int64
AC          380 non-null int64
HY          380 non-null int64
AY          380 non-null int64
HR          380 non-null int64
AR          380 non-null int64
season      380 non-null int64
dtypes: category(5), datetime64[ns](1), int64(17)
memory usage: 57.9 KB

In [14]:
Team_2013=list(EPL_2013_Matches.HomeTeam.cat.categories.unique())
Team_2014=list(EPL_2014_Matches.HomeTeam.cat.categories.unique())
Team_2015=list(EPL_2015_Matches.HomeTeam.cat.categories.unique())
Team_2016=list(EPL_2016_Matches.HomeTeam.cat.categories.unique())

In [15]:
Refree_2013=set(EPL_2013_Matches.Referee.cat.categories.unique())
Refree_2014=set(EPL_2014_Matches.Referee.cat.categories.unique())
Refree_2015=set(EPL_2015_Matches.Referee.cat.categories.unique())
Refree_2016=set(EPL_2016_Matches.Referee.cat.categories.unique())

In [16]:
def Goals_scored(Teams,Dataframe):
    HG=[]
    AG=[]
    for team in Teams:        
        HG.append(np.sum(Dataframe[Dataframe.HomeTeam==team].FTHG))
        AG.append(np.sum(Dataframe[Dataframe.AwayTeam==team].FTAG))
    Home_Goals=pd.Series(HG)
    Away_Scored=pd.Series(AG)
    Goal_From=pd.Series(Home_Goals+Away_Scored)
    return Goal_From

def Goals_Incurred(Teams,Dataframe):
    HG=[]
    AG=[]
    for team in Teams:
        HG.append(np.sum(Dataframe[Dataframe.HomeTeam==team].FTAG))
        AG.append(np.sum(Dataframe[Dataframe.AwayTeam==team].FTHG))
    Home_Goals=pd.Series(HG)
    Away_Goals=pd.Series(AG)
    Goal_Against=pd.Series(Home_Goals+Away_Goals)
    return Goal_Against

In [17]:
def Home_result_count(Dataset, Teams,Result):
    Home_win=[]
    Home_Lose=[]
    Home_Draw=[]
    for team in Teams:
        for R in Result:
            if R=='H':
                Home_win.append(len(Dataset[(Dataset.HomeTeam==team) & (Dataset.FTR==R)].FTR))
            elif R=='A':
                Home_Lose.append(len(Dataset[(Dataset.HomeTeam==team) & (Dataset.FTR==R)].FTR))
            else:
                Home_Draw.append(len(Dataset[(Dataset.HomeTeam==team) & (Dataset.FTR==R)].FTR))
    return [Home_win,Home_Lose,Home_Draw]

def Away_result_count(Dataset, Teams,Result):
    Away_win=[]
    Away_Lose=[]
    Away_Draw=[]
    for team in Teams:
        for R in Result:
            if R=='A':
                Away_win.append(len(Dataset[(Dataset.AwayTeam==team) & (Dataset.FTR==R)].FTR))
            elif R=='H':
                Away_Lose.append(len(Dataset[(Dataset.AwayTeam==team) & (Dataset.FTR==R)].FTR))
            else:
                Away_Draw.append(len(Dataset[(Dataset.AwayTeam==team) & (Dataset.FTR==R)].FTR))
    return [Away_win,Away_Lose,Away_Draw]

In [18]:
def Shots_Corner(Dataset, Teams):
    S=[]
    ST=[]
    C=[]
    for team in Teams:
        S.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HS) + np.sum(Dataset[(Dataset.AwayTeam==team)].AS))
        ST.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HST) + np.sum(Dataset[(Dataset.AwayTeam==team)].AST))
        C.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HC) + np.sum(Dataset[(Dataset.AwayTeam==team)].AC))
    return [pd.Series(S), pd.Series(ST) ,pd.Series(C)]

In [19]:

def Foul(Dataset,Teams):
    F=[]
    Y=[]
    R=[]
    for team in Teams:
        F.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HF) + np.sum(Dataset[(Dataset.AwayTeam==team)].AF))
        Y.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HY) + np.sum(Dataset[(Dataset.AwayTeam==team)].AY))
        R.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HR) + np.sum(Dataset[(Dataset.AwayTeam==team)].AR))
    return [pd.Series(F), pd.Series(Y), pd.Series(R)]

In [20]:
def point_calculator(Dataset):
    points =pd.Series(Dataset.Total_Draw+(Dataset.Total_Win*3))
    return points

In [21]:
Team_stats_2013=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])
Team_stats_2014=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])
Team_stats_2015=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])
Team_stats_2016=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])

In [22]:
Team_Performance_2013=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])
Team_Performance_2014=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])
Team_Performance_2015=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])
Team_Performance_2016=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])

# Team Performance detail for 2013

In [23]:
Team_stats_2013['Team']=Team_2013
Team_Performance_2013['Team']=Team_2013

In [24]:
GF_2013=Goals_scored(Team_2013,EPL_2013_Matches)
GA_2013=Goals_Incurred(Team_2013,EPL_2013_Matches)

In [25]:
Team_stats_2013.Goal_From=GF_2013
Team_stats_2013.Goal_Against=GA_2013
Team_stats_2013.Goal_Diff=Team_stats_2013.Goal_From-Team_stats_2013.Goal_Against

In [26]:
HW,HL,HD=Home_result_count(EPL_2013_Matches,Team_2013,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2013_Matches,Team_2013,['H','A','D'])

In [27]:
Team_stats_2013.Home_Lose=HL
Team_stats_2013.Away_Lose=AL
Team_stats_2013.Total_Lose=Team_stats_2013.Home_Lose+Team_stats_2013.Away_Lose
Team_stats_2013.Home_Draw=HD
Team_stats_2013.Away_Draw=AD
Team_stats_2013.Total_Draw=Team_stats_2013.Home_Draw+Team_stats_2013.Away_Draw
Team_stats_2013.Home_Win=HW
Team_stats_2013.Away_Win=AW
Team_stats_2013.Total_Win=Team_stats_2013.Home_Win+Team_stats_2013.Away_Win

In [28]:
point_2013=point_calculator(Team_stats_2013)

In [29]:
Team_stats_2013['Points']=point_2013

In [30]:
Team_stats_2013=Team_stats_2013.sort_values(by=['Points','Goal_Diff'],ascending=False)

In [31]:
Team_stats_2013.set_index([list(range(0,20))])
Team_stats_2013['Season']=2013

,Team,Goal_From,Goal_Against,Goal_Diff,Home_Lose,Away_Lose,Total_Lose,Home_Draw,Away_Draw,Total_Draw,Home_Win,Away_Win,Total_Win,Points
0,Man United,86,43,43,3,2,5,0,5,5,16,12,28,89
1,Man City,66,34,32,2,4,6,3,6,9,14,9,23,78
2,Chelsea,75,39,36,2,5,7,5,4,9,12,10,22,75
3,Arsenal,72,37,35,3,4,7,5,5,10,11,10,21,73
4,Tottenham,66,46,20,3,5,8,5,4,9,11,10,21,72
5,Everton,55,40,15,1,6,7,6,9,15,12,4,16,63
6,Liverpool,71,43,28,4,5,9,6,7,13,9,7,16,61
7,West Brom,53,57,-4,6,11,17,4,3,7,9,5,14,49
8,Swansea,47,51,-4,5,9,14,8,5,13,6,5,11,46
9,West Ham,45,53,-8,4,12,16,6,4,10,9,3,12,46
10,Norwich,41,58,-17,4,10,14,7,7,14,8,2,10,44
11,Fulham,50,60,-10,9,8,17,3,7,10,7,4,11,43
12,Stoke,34,45,-11,5,9,14,7,8,15,7,2,9,42
13,Southampton,49,60,-11,6,9,15,7,7,14,6,3,9,41
14,Aston Villa,47,69,-22,9,8,17,5,6,11,5,5,10,41
15,Newcastle,45,68,-23,9,10,19,1,7,8,9,2,11,41
16,Sunderland,41,54,-13,6,11,17,8,4,12,5,4,9,39
17,Wigan,47,73,-26,9,11,20,6,3,9,4,5,9,36
18,Reading,43,73,-30,7,15,22,8,2,10,4,2,6,28
19,QPR,30,60,-30,9,12,21,8,5,13,2,2,4,25

In [32]:
S,ST,C=Shots_Corner(EPL_2013_Matches,Team_2013)
F,Y,R=Foul(EPL_2013_Matches,Team_2013)

In [ ]:
Team_Performance_2013['Shots']=S
Team_Performance_2013['Shot_on_Target']=ST
Team_Performance_2013['Corners']=C
Team_Performance_2013['Fouls']=F
Team_Performance_2013['Yellow_Card']=Y
Team_Performance_2013['Red_Card']=R
Team_Performance_2013['Season']=2013

# Team Performance detail for 2014

In [ ]:
Team_stats_2014['Team']=Team_2014
Team_Performance_2014['Team']=Team_2014

In [ ]:
GF=Goals_scored(Team_2014,EPL_2014_Matches)
GA=Goals_Incurred(Team_2014,EPL_2014_Matches)
Team_stats_2014.Goal_From=GF
Team_stats_2014.Goal_Against=GA
Team_stats_2014.Goal_Diff=Team_stats_2014.Goal_From-Team_stats_2014.Goal_Against

In [ ]:
HW,HL,HD=Home_result_count(EPL_2014_Matches,Team_2014,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2014_Matches,Team_2014,['H','A','D'])
Team_stats_2014.Home_Lose=HL
Team_stats_2014.Away_Lose=AL
Team_stats_2014.Total_Lose=Team_stats_2014.Home_Lose+Team_stats_2014.Away_Lose
Team_stats_2014.Home_Draw=HD
Team_stats_2014.Away_Draw=AD
Team_stats_2014.Total_Draw=Team_stats_2014.Home_Draw+Team_stats_2014.Away_Draw
Team_stats_2014.Home_Win=HW
Team_stats_2014.Away_Win=AW
Team_stats_2014.Total_Win=Team_stats_2014.Home_Win+Team_stats_2014.Away_Win

In [ ]:
point=point_calculator(Team_stats_2014)
Team_stats_2014['Points']=point

In [ ]:
Team_stats_2014=Team_stats_2014.sort_values(by=['Points','Goal_Diff'],ascending=False)
Team_stats_2014.set_index([list(range(0,20))])
Team_stats_2014['Season']=2014

In [ ]:
S,ST,C=Shots_Corner(EPL_2014_Matches,Team_2014)
F,Y,R=Foul(EPL_2014_Matches,Team_2014)
Team_Performance_2014['Shots']=S
Team_Performance_2014['Shot_on_Target']=ST
Team_Performance_2014['Corners']=C
Team_Performance_2014['Fouls']=F
Team_Performance_2014['Yellow_Card']=Y
Team_Performance_2014['Red_Card']=R
Team_Performance_2014['Season']=2014

# Team Performance detail for 2015

In [ ]:
Team_stats_2015['Team']=Team_2015
Team_Performance_2015['Team']=Team_2015

In [ ]:
GF=Goals_scored(Team_2015,EPL_2015_Matches)
GA=Goals_Incurred(Team_2015,EPL_2015_Matches)
Team_stats_2015.Goal_From=GF
Team_stats_2015.Goal_Against=GA
Team_stats_2015.Goal_Diff=Team_stats_2015.Goal_From-Team_stats_2015.Goal_Against

In [ ]:
HW,HL,HD=Home_result_count(EPL_2015_Matches,Team_2015,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2015_Matches,Team_2015,['H','A','D'])
Team_stats_2015.Home_Lose=HL
Team_stats_2015.Away_Lose=AL
Team_stats_2015.Total_Lose=Team_stats_2015.Home_Lose+Team_stats_2015.Away_Lose
Team_stats_2015.Home_Draw=HD
Team_stats_2015.Away_Draw=AD
Team_stats_2015.Total_Draw=Team_stats_2015.Home_Draw+Team_stats_2015.Away_Draw
Team_stats_2015.Home_Win=HW
Team_stats_2015.Away_Win=AW
Team_stats_2015.Total_Win=Team_stats_2015.Home_Win+Team_stats_2015.Away_Win

In [ ]:
point=point_calculator(Team_stats_2015)
Team_stats_2015['Points']=point

In [ ]:
Team_stats_2015=Team_stats_2015.sort_values(by=['Points','Goal_Diff'],ascending=False)
Team_stats_2015.set_index([list(range(0,20))])
Team_stats_2015['Season']=2015

In [ ]:
S,ST,C=Shots_Corner(EPL_2015_Matches,Team_2015)
F,Y,R=Foul(EPL_2015_Matches,Team_2015)
Team_Performance_2015['Shots']=S
Team_Performance_2015['Shot_on_Target']=ST
Team_Performance_2015['Corners']=C
Team_Performance_2015['Fouls']=F
Team_Performance_2015['Yellow_Card']=Y
Team_Performance_2015['Red_Card']=R
Team_Performance_2015['Season']=2015

# Team Performance detail for 2016

In [ ]:
Team_stats_2016['Team']=Team_2016
Team_Performance_2016['Team']=Team_2016

In [ ]:
GF=Goals_scored(Team_2016,EPL_2016_Matches)
GA=Goals_Incurred(Team_2016,EPL_2016_Matches)
Team_stats_2016.Goal_From=GF
Team_stats_2016.Goal_Against=GA
Team_stats_2016.Goal_Diff=Team_stats_2016.Goal_From-Team_stats_2016.Goal_Against

In [ ]:
HW,HL,HD=Home_result_count(EPL_2016_Matches,Team_2016,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2016_Matches,Team_2016,['H','A','D'])
Team_stats_2016.Home_Lose=HL
Team_stats_2016.Away_Lose=AL
Team_stats_2016.Total_Lose=Team_stats_2016.Home_Lose+Team_stats_2016.Away_Lose
Team_stats_2016.Home_Draw=HD
Team_stats_2016.Away_Draw=AD
Team_stats_2016.Total_Draw=Team_stats_2016.Home_Draw+Team_stats_2016.Away_Draw
Team_stats_2016.Home_Win=HW
Team_stats_2016.Away_Win=AW
Team_stats_2016.Total_Win=Team_stats_2016.Home_Win+Team_stats_2016.Away_Win

In [ ]:
point=point_calculator(Team_stats_2016)
Team_stats_2016['Points']=point

In [ ]:
Team_stats_2016=Team_stats_2016.sort_values(by=['Points','Goal_Diff'],ascending=False)
Team_stats_2016.set_index([list(range(0,20))])
Team_stats_2016['Season']=2016

In [ ]:
S,ST,C=Shots_Corner(EPL_2016_Matches,Team_2016)
F,Y,R=Foul(EPL_2016_Matches,Team_2016)
Team_Performance_2016['Shots']=S
Team_Performance_2016['Shot_on_Target']=ST
Team_Performance_2016['Corners']=C
Team_Performance_2016['Fouls']=F
Team_Performance_2016['Yellow_Card']=Y
Team_Performance_2016['Red_Card']=R
Team_Performance_2016['Season']=2016

In [ ]:
Team_Performance_2013.head()
Team_Performance_2014.head()
Team_Performance_2015.head()
Team_Performance_2016.head()

# Full detail for EPL 2012-16

In [ ]:
EPL2012_16=EPL_2013_Matches.append(EPL_2014_Matches)

In [ ]:
EPL2012_16=EPL2012_16.append(EPL_2015_Matches)

In [ ]:
EPL2012_16=EPL2012_16.append(EPL_2016_Matches)

In [ ]:
EPL2012_16

# Team performance EPL 2012-16

In [ ]:
EPL_Performance_2012_16=Team_Performance_2013.append(Team_Performance_2014)

In [ ]:
EPL_Performance_2012_16=EPL_Performance_2012_16.append(Team_Performance_2015)
EPL_Performance_2012_16=EPL_Performance_2012_16.append(Team_Performance_2016)

In [ ]:
EPL_Performance_2012_16.to_csv('.//EDA//EPL_Performance_2012_16.csv',index=False)
EPL2012_16.to_csv('.//EDA//EPL_2012_16.csv',index=False)
Team_stats_2013.to_csv('.//EDA//Team_stats_2013.csv',index=False)
Team_stats_2014.to_csv('.//EDA//Team_stats_2014.csv',index=False)
Team_stats_2015.to_csv('.//EDA//Team_stats_2015.csv',index=False)
Team_stats_2016.to_csv('.//EDA//Team_stats_2016.csv',index=False)