In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import math
import warnings
%matplotlib inline

In [2]:
warnings.filterwarnings('ignore')

In [3]:
Dataset='Datsets/'

In [4]:
EPL_2013=pd.read_csv(Dataset+"2012-13.csv",parse_dates=['Date'])
EPL_2014=pd.read_csv(Dataset+"2013-14.csv",parse_dates=['Date'])
EPL_2015=pd.read_csv(Dataset+"14-15.csv",parse_dates=['Date'])
EPL_2016=pd.read_csv(Dataset+"15-16.csv",parse_dates=['Date'])

**Getting sample 5 rows from 2012-2016 data of English premier league**

In [5]:
EPL_2013.head(5)
EPL_2014.head(5)
EPL_2015.head(5)
EPL_2016.head(5)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,...,2.05,23,-1.25,2.02,1.96,1.96,1.91,1.44,4.72,8.71
1,E0,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,...,1.92,21,-0.50,1.83,1.80,2.14,2.09,1.84,3.75,4.75
2,E0,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,...,1.92,23,0.00,1.93,1.88,2.03,1.97,2.83,3.35,2.72
3,E0,2012-08-18,QPR,Swansea,0,5,A,0,1,A,...,1.73,22,-0.25,1.80,1.75,2.21,2.13,2.00,3.53,4.15
4,E0,2012-08-18,Reading,Stoke,1,1,D,0,1,A,...,1.67,24,-0.25,2.07,2.01,1.91,1.86,2.47,3.30,3.22

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2013-08-17,Arsenal,Aston Villa,1,3,A,1,1,D,...,2.37,NaN,NaN,NaN,NaN,NaN,NaN,1.44,5.00,8.05
1,E0,2013-08-17,Liverpool,Stoke,1,0,H,1,0,H,...,2.02,NaN,NaN,NaN,NaN,NaN,NaN,1.42,4.62,10.19
2,E0,2013-08-17,Norwich,Everton,2,2,D,0,0,D,...,1.82,NaN,NaN,NaN,NaN,NaN,NaN,3.81,3.27,2.21
3,E0,2013-08-17,Sunderland,Fulham,0,1,A,0,0,D,...,1.77,NaN,NaN,NaN,NaN,NaN,NaN,2.52,3.23,3.16
4,E0,2013-08-17,Swansea,Man United,1,4,A,0,2,A,...,1.98,NaN,NaN,NaN,NaN,NaN,NaN,3.62,3.41,2.22

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,...,2.10,24.0,-1.50,1.81,1.78,2.20,2.10,1.29,5.90,12.75
1,E0,2014-08-16,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,...,1.80,22.0,0.25,1.88,1.85,2.10,2.02,3.11,3.40,2.47
2,E0,2014-08-16,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,...,2.13,25.0,-1.50,2.18,2.08,1.87,1.79,1.45,4.81,8.25
3,E0,2014-08-16,QPR,Hull,0.0,1.0,A,0.0,0.0,D,...,1.58,24.0,0.00,1.80,1.73,2.25,2.14,2.31,3.24,3.59
4,E0,2014-08-16,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,...,1.60,23.0,-0.50,1.95,1.91,2.02,1.96,2.01,3.34,4.51

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,2015-08-08,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04

** Changing object to category type for EPL 2013 dataset **

In [6]:
EPL_2013.Referee=EPL_2013.Referee.astype('category')
EPL_2013.HomeTeam=EPL_2013.HomeTeam.astype('category')
EPL_2013.AwayTeam=EPL_2013.AwayTeam.astype('category')
EPL_2013.HTR=EPL_2013.HTR.astype('category')
EPL_2013.FTR=EPL_2013.FTR.astype('category')
EPL_2013.Div=EPL_2013.Div.astype('category')

** Changing object to category type for EPL 2014 dataset **

In [7]:
EPL_2014.Referee=EPL_2014.Referee.astype('category')
EPL_2014.HomeTeam=EPL_2014.HomeTeam.astype('category')
EPL_2014.AwayTeam=EPL_2014.AwayTeam.astype('category')
EPL_2014.HTR=EPL_2014.HTR.astype('category')
EPL_2014.FTR=EPL_2014.FTR.astype('category')
EPL_2014.Div=EPL_2014.Div.astype('category')

** Changing object to category type for EPL 2015 dataset **

In [8]:
EPL_2015.Referee=EPL_2015.Referee.astype('category')
EPL_2015.HomeTeam=EPL_2015.HomeTeam.astype('category')
EPL_2015.AwayTeam=EPL_2015.AwayTeam.astype('category')
EPL_2015.HTR=EPL_2013.HTR.astype('category')
EPL_2015.FTR=EPL_2013.FTR.astype('category')
EPL_2015.Div=EPL_2015.Div.astype('category')

** Changing object to category type for EPL 2016 dataset **

In [9]:
EPL_2016.Referee=EPL_2016.Referee.astype('category')
EPL_2016.HomeTeam=EPL_2016.HomeTeam.astype('category')
EPL_2016.AwayTeam=EPL_2016.AwayTeam.astype('category')
EPL_2016.HTR=EPL_2013.HTR.astype('category')
EPL_2016.FTR=EPL_2013.FTR.astype('category')
EPL_2016.Div=EPL_2016.Div.astype('category')

**Checking the unique value in Div column of all datasets to determine its usefullness**

In [10]:
EPL_2013.Div.cat.categories.unique
EPL_2014.Div.cat.categories.unique
EPL_2015.Div.cat.categories.unique
EPL_2016.Div.cat.categories.unique

**Drop Div column**

In [11]:
EPL_2013.drop(['Div'],axis=1,inplace=True)
EPL_2014.drop(['Div'],axis=1,inplace=True)
EPL_2015.drop(['Div'],axis=1,inplace=True)
EPL_2016.drop(['Div'],axis=1,inplace=True)

#### Created Date frame of only Match details

In [12]:
EPL_2013_Matches=EPL_2013.iloc[0:,0:22]
EPL_2014_Matches=EPL_2014.iloc[0:,0:22]
EPL_2015_Matches=EPL_2015.iloc[0:,0:22]
EPL_2016_Matches=EPL_2016.iloc[0:,0:22]
EPL_2013_Matches.head(5)
EPL_2013_Matches['season']=2013
EPL_2014_Matches.head(5)
EPL_2014_Matches['season']=2014
EPL_2015_Matches.head(5)
EPL_2015_Matches['season']=2015
EPL_2016_Matches.head(5)
EPL_2016_Matches['season']=2016

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,C Foy,...,4,2,12,8,7,0,0,0,0,0
1,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,M Oliver,...,9,2,12,11,6,3,0,0,0,0
2,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,M Atkinson,...,4,6,12,8,3,5,2,2,0,0
3,2012-08-18,QPR,Swansea,0,5,A,0,1,A,L Probert,...,11,8,11,14,5,3,2,2,0,0
4,2012-08-18,Reading,Stoke,1,1,D,0,1,A,K Friend,...,3,3,9,14,4,3,2,4,0,1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2013-08-17,Arsenal,Aston Villa,1,3,A,1,1,D,A Taylor,...,4,4,15,18,4,3,4,5,1,0
1,2013-08-17,Liverpool,Stoke,1,0,H,1,0,H,M Atkinson,...,11,4,11,11,12,6,1,1,0,0
2,2013-08-17,Norwich,Everton,2,2,D,0,0,D,M Oliver,...,2,6,13,10,6,8,2,0,0,0
3,2013-08-17,Sunderland,Fulham,0,1,A,0,0,D,N Swarbrick,...,3,1,14,14,6,1,0,3,0,0
4,2013-08-17,Swansea,Man United,1,4,A,0,2,A,P Dowd,...,6,7,13,10,7,4,1,3,0,0

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,D,1.0,1.0,D,J Moss,...,6.0,2.0,13.0,19.0,9.0,3.0,2.0,2.0,0.0,1.0
1,2014-08-16,Leicester,Everton,2.0,2.0,H,1.0,2.0,H,M Jones,...,3.0,3.0,16.0,10.0,3.0,6.0,1.0,1.0,0.0,0.0
2,2014-08-16,Man United,Swansea,1.0,2.0,H,0.0,1.0,D,M Dean,...,5.0,4.0,14.0,20.0,4.0,0.0,2.0,4.0,0.0,0.0
3,2014-08-16,QPR,Hull,0.0,1.0,A,0.0,0.0,A,C Pawson,...,6.0,4.0,10.0,10.0,8.0,9.0,1.0,2.0,0.0,0.0
4,2014-08-16,Stoke,Aston Villa,0.0,1.0,D,0.0,0.0,A,A Taylor,...,2.0,2.0,14.0,9.0,2.0,8.0,0.0,3.0,0.0,0.0

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2015-08-08,Bournemouth,Aston Villa,0,1,D,0,0,D,M Clattenburg,...,2,3,13,13,6,3,3,4,0,0
1,2015-08-08,Chelsea,Swansea,2,2,H,2,1,H,M Oliver,...,3,10,15,16,4,8,1,3,1,0
2,2015-08-08,Everton,Watford,2,2,H,0,1,D,M Jones,...,5,5,7,13,8,2,1,2,0,0
3,2015-08-08,Leicester,Sunderland,4,2,A,3,0,A,L Mason,...,8,5,13,17,6,3,2,4,0,0
4,2015-08-08,Man United,Tottenham,1,0,D,1,0,A,J Moss,...,1,4,12,12,1,2,2,3,0,0

In [13]:
def result(r):
    if r=='H':
        return 'Home'
    elif r=='A':
        return 'Visitor'
    else:
        return 'Draw'

In [14]:
Team_2013=list(EPL_2013_Matches.HomeTeam.cat.categories.unique())
Team_2014=list(EPL_2014_Matches.HomeTeam.cat.categories.unique())
Team_2015=list(EPL_2015_Matches.HomeTeam.cat.categories.unique())
Team_2016=list(EPL_2016_Matches.HomeTeam.cat.categories.unique())

In [15]:
EPL_2013_Matches.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,season
0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,C Foy,...,2,12,8,7,0,0,0,0,0,2013
1,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,M Oliver,...,2,12,11,6,3,0,0,0,0,2013
2,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,M Atkinson,...,6,12,8,3,5,2,2,0,0,2013
3,2012-08-18,QPR,Swansea,0,5,A,0,1,A,L Probert,...,8,11,14,5,3,2,2,0,0,2013
4,2012-08-18,Reading,Stoke,1,1,D,0,1,A,K Friend,...,3,9,14,4,3,2,4,0,1,2013

In [16]:
Refree_2013=set(EPL_2013_Matches.Referee.cat.categories.unique())
Refree_2014=set(EPL_2014_Matches.Referee.cat.categories.unique())
Refree_2015=set(EPL_2015_Matches.Referee.cat.categories.unique())
Refree_2016=set(EPL_2016_Matches.Referee.cat.categories.unique())

In [17]:
def Goals_scored(Teams,Dataframe):
    HG=[]
    AG=[]
    for team in Teams:        
        HG.append(np.sum(Dataframe[Dataframe.HomeTeam==team].FTHG))
        AG.append(np.sum(Dataframe[Dataframe.AwayTeam==team].FTAG))
    Home_Goals=pd.Series(HG)
    Away_Scored=pd.Series(AG)
    Goal_From=pd.Series(Home_Goals+Away_Scored)
    return Goal_From

def Goals_Incurred(Teams,Dataframe):
    HG=[]
    AG=[]
    for team in Teams:
        HG.append(np.sum(Dataframe[Dataframe.HomeTeam==team].FTAG))
        AG.append(np.sum(Dataframe[Dataframe.AwayTeam==team].FTHG))
    Home_Goals=pd.Series(HG)
    Away_Goals=pd.Series(AG)
    Goal_Against=pd.Series(Home_Goals+Away_Goals)
    return Goal_Against

In [18]:
def Home_result_count(Dataset, Teams,Result):
    Home_win=[]
    Home_Lose=[]
    Home_Draw=[]
    for team in Teams:
        for R in Result:
            if R=='H':
                Home_win.append(len(Dataset[(Dataset.HomeTeam==team) & (Dataset.FTR==R)].FTR))
            elif R=='A':
                Home_Lose.append(len(Dataset[(Dataset.HomeTeam==team) & (Dataset.FTR==R)].FTR))
            else:
                Home_Draw.append(len(Dataset[(Dataset.HomeTeam==team) & (Dataset.FTR==R)].FTR))
    return [Home_win,Home_Lose,Home_Draw]

def Away_result_count(Dataset, Teams,Result):
    Away_win=[]
    Away_Lose=[]
    Away_Draw=[]
    for team in Teams:
        for R in Result:
            if R=='A':
                Away_win.append(len(Dataset[(Dataset.AwayTeam==team) & (Dataset.FTR==R)].FTR))
            elif R=='H':
                Away_Lose.append(len(Dataset[(Dataset.AwayTeam==team) & (Dataset.FTR==R)].FTR))
            else:
                Away_Draw.append(len(Dataset[(Dataset.AwayTeam==team) & (Dataset.FTR==R)].FTR))
    return [Away_win,Away_Lose,Away_Draw]

In [19]:
def Shots_Corner(Dataset, Teams):
    S=[]
    ST=[]
    C=[]
    for team in Teams:
        S.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HS) + np.sum(Dataset[(Dataset.AwayTeam==team)].AS))
        ST.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HST) + np.sum(Dataset[(Dataset.AwayTeam==team)].AST))
        C.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HC) + np.sum(Dataset[(Dataset.AwayTeam==team)].AC))
    return [pd.Series(S), pd.Series(ST) ,pd.Series(C)]

In [20]:

def Foul(Dataset,Teams):
    F=[]
    Y=[]
    R=[]
    for team in Teams:
        F.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HF) + np.sum(Dataset[(Dataset.AwayTeam==team)].AF))
        Y.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HY) + np.sum(Dataset[(Dataset.AwayTeam==team)].AY))
        R.append(np.sum(Dataset[(Dataset.HomeTeam==team)].HR) + np.sum(Dataset[(Dataset.AwayTeam==team)].AR))
    return [pd.Series(F), pd.Series(Y), pd.Series(R)]

In [21]:
def point_calculator(Dataset):
    points =pd.Series(Dataset.Total_Draw+(Dataset.Total_Win*3))
    return points

In [22]:
Team_stats_2013=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])
Team_stats_2014=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])
Team_stats_2015=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])
Team_stats_2016=pd.DataFrame(columns=['Team','Goal_From','Goal_Against','Goal_Diff','Home_Lose','Away_Lose','Total_Lose','Home_Draw','Away_Draw','Total_Draw','Home_Win','Away_Win','Total_Win',])

In [23]:
Team_Performance_2013=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])
Team_Performance_2014=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])
Team_Performance_2015=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])
Team_Performance_2016=pd.DataFrame(columns=['Team','Shots','Shot_on_Target','Corners','Fouls','Yellow_Card','Red_Card','Season'])

# Team Performance detail for 2013

In [24]:
Team_stats_2013['Team']=Team_2013
Team_Performance_2013['Team']=Team_2013

In [25]:
GF_2013=Goals_scored(Team_2013,EPL_2013_Matches)
GA_2013=Goals_Incurred(Team_2013,EPL_2013_Matches)

In [26]:
Team_stats_2013.Goal_From=GF_2013
Team_stats_2013.Goal_Against=GA_2013
Team_stats_2013.Goal_Diff=Team_stats_2013.Goal_From-Team_stats_2013.Goal_Against

In [27]:
HW,HL,HD=Home_result_count(EPL_2013_Matches,Team_2013,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2013_Matches,Team_2013,['H','A','D'])

In [28]:
Team_stats_2013.Home_Lose=HL
Team_stats_2013.Away_Lose=AL
Team_stats_2013.Total_Lose=Team_stats_2013.Home_Lose+Team_stats_2013.Away_Lose
Team_stats_2013.Home_Draw=HD
Team_stats_2013.Away_Draw=AD
Team_stats_2013.Total_Draw=Team_stats_2013.Home_Draw+Team_stats_2013.Away_Draw
Team_stats_2013.Home_Win=HW
Team_stats_2013.Away_Win=AW
Team_stats_2013.Total_Win=Team_stats_2013.Home_Win+Team_stats_2013.Away_Win

In [29]:
point_2013=point_calculator(Team_stats_2013)

In [30]:
Team_stats_2013['Points']=point_2013

In [31]:
Team_stats_2013=Team_stats_2013.sort_values(by=['Points','Goal_Diff'],ascending=False)

In [32]:
Team_stats_2013.set_index([list(range(0,20))])
Team_stats_2013['Season']=2013

,Team,Goal_From,Goal_Against,Goal_Diff,Home_Lose,Away_Lose,Total_Lose,Home_Draw,Away_Draw,Total_Draw,Home_Win,Away_Win,Total_Win,Points
0,Man United,86,43,43,3,2,5,0,5,5,16,12,28,89
1,Man City,66,34,32,2,4,6,3,6,9,14,9,23,78
2,Chelsea,75,39,36,2,5,7,5,4,9,12,10,22,75
3,Arsenal,72,37,35,3,4,7,5,5,10,11,10,21,73
4,Tottenham,66,46,20,3,5,8,5,4,9,11,10,21,72
5,Everton,55,40,15,1,6,7,6,9,15,12,4,16,63
6,Liverpool,71,43,28,4,5,9,6,7,13,9,7,16,61
7,West Brom,53,57,-4,6,11,17,4,3,7,9,5,14,49
8,Swansea,47,51,-4,5,9,14,8,5,13,6,5,11,46
9,West Ham,45,53,-8,4,12,16,6,4,10,9,3,12,46
10,Norwich,41,58,-17,4,10,14,7,7,14,8,2,10,44
11,Fulham,50,60,-10,9,8,17,3,7,10,7,4,11,43
12,Stoke,34,45,-11,5,9,14,7,8,15,7,2,9,42
13,Southampton,49,60,-11,6,9,15,7,7,14,6,3,9,41
14,Aston Villa,47,69,-22,9,8,17,5,6,11,5,5,10,41
15,Newcastle,45,68,-23,9,10,19,1,7,8,9,2,11,41
16,Sunderland,41,54,-13,6,11,17,8,4,12,5,4,9,39
17,Wigan,47,73,-26,9,11,20,6,3,9,4,5,9,36
18,Reading,43,73,-30,7,15,22,8,2,10,4,2,6,28
19,QPR,30,60,-30,9,12,21,8,5,13,2,2,4,25

In [33]:
S,ST,C=Shots_Corner(EPL_2013_Matches,Team_2013)
F,Y,R=Foul(EPL_2013_Matches,Team_2013)

In [34]:
Team_Performance_2013['Shots']=S
Team_Performance_2013['Shot_on_Target']=ST
Team_Performance_2013['Corners']=C
Team_Performance_2013['Fouls']=F
Team_Performance_2013['Yellow_Card']=Y
Team_Performance_2013['Red_Card']=R
Team_Performance_2013['Season']=2013

# Team Performance detail for 2014

In [35]:
Team_stats_2014['Team']=Team_2014
Team_Performance_2014['Team']=Team_2014

In [36]:
GF=Goals_scored(Team_2014,EPL_2014_Matches)
GA=Goals_Incurred(Team_2014,EPL_2014_Matches)
Team_stats_2014.Goal_From=GF
Team_stats_2014.Goal_Against=GA
Team_stats_2014.Goal_Diff=Team_stats_2014.Goal_From-Team_stats_2014.Goal_Against

In [37]:
HW,HL,HD=Home_result_count(EPL_2014_Matches,Team_2014,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2014_Matches,Team_2014,['H','A','D'])
Team_stats_2014.Home_Lose=HL
Team_stats_2014.Away_Lose=AL
Team_stats_2014.Total_Lose=Team_stats_2014.Home_Lose+Team_stats_2014.Away_Lose
Team_stats_2014.Home_Draw=HD
Team_stats_2014.Away_Draw=AD
Team_stats_2014.Total_Draw=Team_stats_2014.Home_Draw+Team_stats_2014.Away_Draw
Team_stats_2014.Home_Win=HW
Team_stats_2014.Away_Win=AW
Team_stats_2014.Total_Win=Team_stats_2014.Home_Win+Team_stats_2014.Away_Win

In [38]:
point=point_calculator(Team_stats_2014)
Team_stats_2014['Points']=point

In [39]:
Team_stats_2014=Team_stats_2014.sort_values(by=['Points','Goal_Diff'],ascending=False)
Team_stats_2014.set_index([list(range(0,20))])
Team_stats_2014['Season']=2014

,Team,Goal_From,Goal_Against,Goal_Diff,Home_Lose,Away_Lose,Total_Lose,Home_Draw,Away_Draw,Total_Draw,Home_Win,Away_Win,Total_Win,Points
0,Man City,102,37,65,1,5,6,1,4,5,17,10,27,86
1,Liverpool,101,50,51,2,4,6,1,5,6,16,10,26,84
2,Chelsea,71,27,44,1,5,6,3,4,7,15,10,25,82
3,Arsenal,68,41,27,1,6,7,5,2,7,13,11,24,79
4,Everton,61,39,22,3,5,8,3,6,9,13,8,21,72
5,Tottenham,55,51,4,5,6,11,3,3,6,11,10,21,69
6,Man United,64,43,21,7,5,12,3,4,7,9,10,19,64
7,Southampton,54,46,8,5,7,12,6,5,11,8,7,15,56
8,Stoke,45,52,-7,3,11,14,6,5,11,10,3,13,50
9,Newcastle,43,59,-16,8,11,19,3,1,4,8,7,15,49
10,Crystal Palace,33,48,-15,8,11,19,3,3,6,8,5,13,45
11,Swansea,54,54,0,8,10,18,5,4,9,6,5,11,42
12,West Ham,40,51,-11,9,11,20,3,4,7,7,4,11,40
13,Sunderland,41,60,-19,11,9,20,3,5,8,5,5,10,38
14,Aston Villa,39,61,-22,10,10,20,3,5,8,6,4,10,38
15,Hull,38,53,-15,8,13,21,4,3,7,7,3,10,37
16,West Brom,43,59,-16,6,10,16,9,6,15,4,3,7,36
17,Norwich,28,62,-34,7,14,21,6,3,9,6,2,8,33
18,Fulham,40,85,-45,11,13,24,3,2,5,5,4,9,32
19,Cardiff,32,74,-42,9,13,22,5,4,9,5,2,7,30

In [40]:
S,ST,C=Shots_Corner(EPL_2014_Matches,Team_2014)
F,Y,R=Foul(EPL_2014_Matches,Team_2014)
Team_Performance_2014['Shots']=S
Team_Performance_2014['Shot_on_Target']=ST
Team_Performance_2014['Corners']=C
Team_Performance_2014['Fouls']=F
Team_Performance_2014['Yellow_Card']=Y
Team_Performance_2014['Red_Card']=R
Team_Performance_2014['Season']=2014

# Team Performance detail for 2015

In [41]:
Team_stats_2015['Team']=Team_2015
Team_Performance_2015['Team']=Team_2015

In [42]:
GF=Goals_scored(Team_2015,EPL_2015_Matches)
GA=Goals_Incurred(Team_2015,EPL_2015_Matches)
Team_stats_2015.Goal_From=GF
Team_stats_2015.Goal_Against=GA
Team_stats_2015.Goal_Diff=Team_stats_2015.Goal_From-Team_stats_2015.Goal_Against

In [43]:
HW,HL,HD=Home_result_count(EPL_2015_Matches,Team_2015,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2015_Matches,Team_2015,['H','A','D'])
Team_stats_2015.Home_Lose=HL
Team_stats_2015.Away_Lose=AL
Team_stats_2015.Total_Lose=Team_stats_2015.Home_Lose+Team_stats_2015.Away_Lose
Team_stats_2015.Home_Draw=HD
Team_stats_2015.Away_Draw=AD
Team_stats_2015.Total_Draw=Team_stats_2015.Home_Draw+Team_stats_2015.Away_Draw
Team_stats_2015.Home_Win=HW
Team_stats_2015.Away_Win=AW
Team_stats_2015.Total_Win=Team_stats_2015.Home_Win+Team_stats_2015.Away_Win

In [44]:
point=point_calculator(Team_stats_2015)
Team_stats_2015['Points']=point

In [45]:
Team_stats_2015=Team_stats_2015.sort_values(by=['Points','Goal_Diff'],ascending=False)
Team_stats_2015.set_index([list(range(0,20))])
Team_stats_2015['Season']=2015

,Team,Goal_From,Goal_Against,Goal_Diff,Home_Lose,Away_Lose,Total_Lose,Home_Draw,Away_Draw,Total_Draw,Home_Win,Away_Win,Total_Win,Points
0,Arsenal,71.0,36.0,35.0,4,9,13,3,2,5,12,8,20,65
1,Southampton,54.0,33.0,21.0,2,6,8,6,8,14,11,5,16,62
2,Aston Villa,31.0,57.0,-26.0,6,4,10,4,9,13,9,6,15,58
3,Man City,83.0,38.0,45.0,5,6,11,6,6,12,8,7,15,57
4,Everton,48.0,50.0,-2.0,5,6,11,4,8,12,10,5,15,57
5,Swansea,46.0,49.0,-3.0,3,9,12,8,3,11,8,7,15,56
6,Leicester,46.0,55.0,-9.0,6,7,13,6,4,10,7,8,15,55
7,Hull,33.0,51.0,-18.0,6,7,13,5,5,10,8,7,15,55
8,Man United,62.0,37.0,25.0,3,10,13,7,4,11,9,5,14,53
9,Tottenham,58.0,53.0,5.0,7,6,13,3,8,11,9,5,14,53
10,Sunderland,31.0,53.0,-22.0,3,12,15,7,1,8,9,6,15,53
11,Liverpool,52.0,48.0,4.0,5,6,11,6,9,15,8,4,12,51
12,Burnley,28.0,53.0,-25.0,3,10,13,8,4,12,8,5,13,51
13,West Brom,38.0,51.0,-13.0,8,8,16,2,6,8,9,5,14,50
14,Crystal Palace,47.0,51.0,-4.0,8,6,14,4,8,12,7,5,12,48
15,Newcastle,40.0,63.0,-23.0,6,8,14,6,6,12,7,5,12,48
16,West Ham,44.0,47.0,-3.0,7,10,17,5,4,9,7,5,12,45
17,Stoke,48.0,45.0,3.0,5,9,14,8,6,14,6,4,10,44
18,Chelsea,73.0,32.0,41.0,7,14,21,4,3,7,8,2,10,37
19,QPR,42.0,73.0,-31.0,7,13,20,6,4,10,6,2,8,34

In [46]:
S,ST,C=Shots_Corner(EPL_2015_Matches,Team_2015)
F,Y,R=Foul(EPL_2015_Matches,Team_2015)
Team_Performance_2015['Shots']=S
Team_Performance_2015['Shot_on_Target']=ST
Team_Performance_2015['Corners']=C
Team_Performance_2015['Fouls']=F
Team_Performance_2015['Yellow_Card']=Y
Team_Performance_2015['Red_Card']=R
Team_Performance_2015['Season']=2015

# Team Performance detail for 2016

In [47]:
Team_stats_2016['Team']=Team_2016
Team_Performance_2016['Team']=Team_2016

In [48]:
GF=Goals_scored(Team_2016,EPL_2016_Matches)
GA=Goals_Incurred(Team_2016,EPL_2016_Matches)
Team_stats_2016.Goal_From=GF
Team_stats_2016.Goal_Against=GA
Team_stats_2016.Goal_Diff=Team_stats_2016.Goal_From-Team_stats_2016.Goal_Against

In [49]:
HW,HL,HD=Home_result_count(EPL_2016_Matches,Team_2016,['H','A','D'])
AW,AL,AD=Away_result_count(EPL_2016_Matches,Team_2016,['H','A','D'])
Team_stats_2016.Home_Lose=HL
Team_stats_2016.Away_Lose=AL
Team_stats_2016.Total_Lose=Team_stats_2016.Home_Lose+Team_stats_2016.Away_Lose
Team_stats_2016.Home_Draw=HD
Team_stats_2016.Away_Draw=AD
Team_stats_2016.Total_Draw=Team_stats_2016.Home_Draw+Team_stats_2016.Away_Draw
Team_stats_2016.Home_Win=HW
Team_stats_2016.Away_Win=AW
Team_stats_2016.Total_Win=Team_stats_2016.Home_Win+Team_stats_2016.Away_Win

In [50]:
point=point_calculator(Team_stats_2016)
Team_stats_2016['Points']=point

In [51]:
Team_stats_2016=Team_stats_2016.sort_values(by=['Points','Goal_Diff'],ascending=False)
Team_stats_2016.set_index([list(range(0,20))])
Team_stats_2016['Season']=2016

,Team,Goal_From,Goal_Against,Goal_Diff,Home_Lose,Away_Lose,Total_Lose,Home_Draw,Away_Draw,Total_Draw,Home_Win,Away_Win,Total_Win,Points
0,Sunderland,48,62,-14,4,7,11,4,2,6,11,10,21,69
1,Swansea,42,52,-10,2,9,11,6,3,9,11,7,18,63
2,Leicester,68,36,32,3,8,11,6,4,10,10,7,17,61
3,West Brom,34,48,-14,4,9,13,3,4,7,12,6,18,61
4,Everton,59,55,4,4,9,13,4,4,8,11,6,17,59
5,Arsenal,65,36,29,5,8,13,2,7,9,12,4,16,57
6,Liverpool,63,50,13,3,6,9,11,6,17,5,7,12,53
7,Chelsea,59,53,6,7,6,13,5,6,11,7,7,14,53
8,Bournemouth,45,67,-22,3,7,10,7,9,16,9,3,12,52
9,Norwich,39,67,-28,7,7,14,3,7,10,9,5,14,52
10,Tottenham,69,35,34,8,6,14,4,7,11,7,6,13,50
11,West Ham,65,51,14,7,7,14,5,6,11,7,6,13,50
12,Crystal Palace,39,51,-12,3,12,15,6,4,10,10,3,13,49
13,Man City,71,41,30,7,8,15,7,4,11,5,7,12,47
14,Man United,49,35,14,5,10,15,8,3,11,6,6,12,47
15,Southampton,59,41,18,6,9,15,6,6,12,7,4,11,45
16,Aston Villa,27,76,-49,4,10,14,6,8,14,9,1,10,44
17,Watford,40,50,-10,6,10,16,6,6,12,7,3,10,42
18,Newcastle,44,65,-21,10,8,18,4,6,10,5,5,10,40
19,Stoke,41,55,-14,8,10,18,5,6,11,6,3,9,38

In [52]:
S,ST,C=Shots_Corner(EPL_2016_Matches,Team_2016)
F,Y,R=Foul(EPL_2016_Matches,Team_2016)
Team_Performance_2016['Shots']=S
Team_Performance_2016['Shot_on_Target']=ST
Team_Performance_2016['Corners']=C
Team_Performance_2016['Fouls']=F
Team_Performance_2016['Yellow_Card']=Y
Team_Performance_2016['Red_Card']=R
Team_Performance_2016['Season']=2016

In [53]:
Team_Performance_2013.head()
Team_Performance_2014.head()
Team_Performance_2015.head()
Team_Performance_2016.head()

,Team,Shots,Shot_on_Target,Corners,Fouls,Yellow_Card,Red_Card,Season
0,Arsenal,546,326,260,360,44,5,2013
1,Aston Villa,393,225,178,428,74,3,2013
2,Chelsea,569,336,240,371,52,3,2013
3,Everton,561,321,257,413,60,3,2013
4,Fulham,425,244,176,384,48,3,2013

,Team,Shots,Shot_on_Target,Corners,Fouls,Yellow_Card,Red_Card,Season
0,Arsenal,524,210,211,348,53,4,2014
1,Aston Villa,430,134,163,484,78,0,2014
2,Cardiff,419,126,196,342,49,1,2014
3,Chelsea,693,228,249,420,56,3,2014
4,Crystal Palace,414,143,172,404,57,2,2014

,Team,Shots,Shot_on_Target,Corners,Fouls,Yellow_Card,Red_Card,Season
0,Arsenal,612.0,228.0,254.0,377.0,68.0,2.0,2015
1,Aston Villa,414.0,127.0,171.0,400.0,70.0,7.0,2015
2,Burnley,429.0,125.0,170.0,406.0,64.0,2.0,2015
3,Chelsea,563.0,210.0,226.0,382.0,77.0,4.0,2015
4,Crystal Palace,438.0,139.0,209.0,527.0,63.0,4.0,2015

,Team,Shots,Shot_on_Target,Corners,Fouls,Yellow_Card,Red_Card,Season
0,Arsenal,572,210,227,350,39,4,2016
1,Aston Villa,368,111,167,431,75,3,2016
2,Bournemouth,463,144,221,362,52,1,2016
3,Chelsea,526,173,240,408,58,6,2016
4,Crystal Palace,466,152,219,465,60,1,2016

# Full detail for EPL 2012-16

In [54]:
EPL2012_16=EPL_2013_Matches.append(EPL_2014_Matches)

In [55]:
EPL2012_16=EPL2012_16.append(EPL_2015_Matches)

In [56]:
EPL2012_16=EPL2012_16.append(EPL_2016_Matches)

In [57]:
EPL2012_16

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,season
0,2012-08-18,Arsenal,Sunderland,0.0,0.0,D,0.0,0.0,D,C Foy,...,2.0,12.0,8.0,7.0,0.0,0.0,0.0,0.0,0.0,2013
1,2012-08-18,Fulham,Norwich,5.0,0.0,H,2.0,0.0,H,M Oliver,...,2.0,12.0,11.0,6.0,3.0,0.0,0.0,0.0,0.0,2013
2,2012-08-18,Newcastle,Tottenham,2.0,1.0,H,0.0,0.0,D,M Atkinson,...,6.0,12.0,8.0,3.0,5.0,2.0,2.0,0.0,0.0,2013
3,2012-08-18,QPR,Swansea,0.0,5.0,A,0.0,1.0,A,L Probert,...,8.0,11.0,14.0,5.0,3.0,2.0,2.0,0.0,0.0,2013
4,2012-08-18,Reading,Stoke,1.0,1.0,D,0.0,1.0,A,K Friend,...,3.0,9.0,14.0,4.0,3.0,2.0,4.0,0.0,1.0,2013
5,2012-08-18,West Brom,Liverpool,3.0,0.0,H,1.0,0.0,H,P Dowd,...,7.0,10.0,11.0,7.0,3.0,1.0,4.0,0.0,1.0,2013
6,2012-08-18,West Ham,Aston Villa,1.0,0.0,H,1.0,0.0,H,M Dean,...,6.0,17.0,8.0,6.0,4.0,0.0,1.0,0.0,0.0,2013
7,2012-08-19,Man City,Southampton,3.0,2.0,H,1.0,0.0,H,H Webb,...,6.0,4.0,6.0,7.0,3.0,1.0,2.0,0.0,0.0,2013
8,2012-08-19,Wigan,Chelsea,0.0,2.0,A,0.0,2.0,A,M Jones,...,3.0,16.0,11.0,7.0,1.0,2.0,2.0,0.0,0.0,2013
9,2012-08-20,Everton,Man United,1.0,0.0,H,0.0,0.0,D,A Marriner,...,7.0,12.0,11.0,6.0,8.0,1.0,2.0,0.0,0.0,2013
10,2012-08-22,Chelsea,Reading,4.0,2.0,H,1.0,2.0,A,L Mason,...,5.0,11.0,14.0,1.0,5.0,0.0,2.0,0.0,0.0,2013
11,2012-08-25,Aston Villa,Everton,1.0,3.0,A,0.0,3.0,A,M Oliver,...,11.0,10.0,7.0,1.0,9.0,1.0,0.0,1.0,0.0,2013
12,2012-08-25,Chelsea,Newcastle,2.0,0.0,H,2.0,0.0,H,P Dowd,...,5.0,8.0,10.0,2.0,3.0,1.0,0.0,0.0,0.0,2013
13,2012-08-25,Man United,Fulham,3.0,2.0,H,3.0,1.0,H,K Friend,...,11.0,12.0,7.0,8.0,8.0,0.0,1.0,0.0,0.0,2013
14,2012-08-25,Norwich,QPR,1.0,1.0,D,1.0,1.0,D,M Clattenburg,...,4.0,15.0,14.0,6.0,2.0,0.0,2.0,0.0,0.0,2013
15,2012-08-25,Southampton,Wigan,0.0,2.0,A,0.0,0.0,D,A Taylor,...,8.0,11.0,9.0,10.0,3.0,0.0,0.0,0.0,0.0,2013
16,2012-08-25,Swansea,West Ham,3.0,0.0,H,2.0,0.0,H,M Atkinson,...,6.0,13.0,17.0,5.0,4.0,2.0,4.0,0.0,0.0,2013
17,2012-08-25,Tottenham,West Brom,1.0,1.0,D,0.0,0.0,D,M Dean,...,5.0,8.0,7.0,7.0,5.0,1.0,2.0,0.0,0.0,2013
18,2012-08-26,Liverpool,Man City,2.0,2.0,D,1.0,0.0,H,A Marriner,...,5.0,10.0,7.0,4.0,4.0,1.0,0.0,0.0,0.0,2013
19,2012-08-26,Stoke,Arsenal,0.0,0.0,D,0.0,0.0,D,L Mason,...,6.0,9.0,9.0,0.0,11.0,2.0,0.0,0.0,0.0,2013
20,2012-01-09,Man City,QPR,3.0,1.0,H,1.0,0.0,H,C Foy,...,5.0,12.0,3.0,8.0,3.0,2.0,1.0,0.0,0.0,2013
21,2012-01-09,Swansea,Sunderland,2.0,2.0,D,1.0,2.0,A,R East,...,3.0,11.0,7.0,8.0,0.0,1.0,1.0,1.0,0.0,2013
22,2012-01-09,Tottenham,Norwich,1.0,1.0,D,0.0,0.0,D,M Halsey,...,4.0,7.0,12.0,4.0,2.0,1.0,0.0,1.0,0.0,2013
23,2012-01-09,West Brom,Everton,2.0,0.0,H,0.0,0.0,D,J Moss,...,5.0,11.0,15.0,6.0,3.0,1.0,4.0,0.0,0.0,2013
24,2012-01-09,West Ham,Fulham,3.0,0.0,H,3.0,0.0,H,A Taylor,...,13.0,12.0,5.0,6.0,6.0,0.0,0.0,0.0,0.0,2013
25,2012-01-09,Wigan,Stoke,2.0,2.0,D,1.0,1.0,D,M Atkinson,...,8.0,13.0,11.0,2.0,1.0,1.0,2.0,0.0,0.0,2013
26,2012-02-09,Liverpool,Arsenal,0.0,2.0,A,0.0,1.0,A,H Webb,...,7.0,12.0,7.0,10.0,2.0,2.0,2.0,0.0,0.0,2013
27,2012-02-09,Newcastle,Aston Villa,1.0,1.0,D,0.0,1.0,A,L Probert,...,9.0,6.0,20.0,10.0,6.0,1.0,4.0,0.0,0.0,2013
28,2012-02-09,Southampton,Man United,2.0,3.0,A,1.0,1.0,D,M Dean,...,9.0,9.0,4.0,4.0,7.0,1.0,0.0,0.0,0.0,2013
29,2012-09-15,Arsenal,Southampton,6.0,1.0,H,4.0,1.0,H,K Friend,...,4.0,4.0,7.0,8.0,3.0,0.0,0.0,0.0,0.0,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2016-04-30,Watford,Aston Villa,3.0,2.0,D,1.0,1.0,D,A Taylor,...,2.0,14.0,10.0,8.0,4.0,2.0,3.0,0.0,1.0,2016
351,2016-04-30,West Brom,West Ham,0.0,3.0,H,0.0,2.0,D,L Mason,...,4.0,14.0,7.0,8.0,6.0,0.0,0.0,0.0,0.0,2016
352,2016-01-05,Man United,Leicester,1.0,1.0,A,1.0,1.0,D,M Oliver,...,3.0,16.0,10.0,6.0,5.0,3.0,0.0,0.0,1.0,2016
353,2016-01-05,Southampton,Man City,4.0,2.0,D,2.0,1.0,D,A Marriner,...,5.0,12.0,9.0,8.0,2.0,2.0,1.0,0.0,0.0,2016
354,2016-01-05,Swansea,Liverpool,3.0,1.0,D,2.0,0.0,D,R East,...,3.0,12.0,13.0,4.0,7.0,2.0,2.0,0.0,1.0,2016
355,2016-02-05,Chelsea,Tottenham,2.0,2.0,A,0.0,2.0,D,M Clattenburg,...,5.0,9.0,20.0,7.0,8.0,3.0,9.0,0.0,0.0,2016
356,2016-07-05,Aston Villa,Newcastle,0.0,0.0,D,0.0,0.0,A,R Madley,...,3.0,8.0,13.0,0.0,5.0,1.0,1.0,0.0,0.0,2016
357,2016-07-05,Bournemouth,West Brom,1.0,1.0,H,0.0,1.0,H,M Clattenburg,...,4.0,5.0,8.0,5.0,3.0,2.0,1.0,0.0,0.0,2016
358,2016-07-05,Crystal Palace,Stoke,2.0,1.0,A,0.0,1.0,H,K Friend,...,3.0,8.0,18.0,4.0,3.0,2.0,3.0,0.0,0.0,2016
359,2016-07-05,Leicester,Everton,3.0,1.0,D,2.0,0.0,H,A Marriner,...,5.0,4.0,12.0,12.0,4.0,0.0,3.0,0.0,0.0,2016
360,2016-07-05,Norwich,Man United,0.0,1.0,A,0.0,0.0,H,C Pawson,...,2.0,11.0,10.0,1.0,6.0,1.0,0.0,0.0,0.0,2016
361,2016-07-05,Sunderland,Chelsea,3.0,2.0,H,1.0,2.0,H,M Jones,...,8.0,11.0,9.0,3.0,3.0,4.0,1.0,0.0,1.0,2016
362,2016-07-05,West Ham,Swansea,1.0,4.0,A,0.0,2.0,D,M Oliver,...,6.0,11.0,8.0,13.0,3.0,3.0,0.0,0.0,0.0,2016
363,2016-08-05,Liverpool,Watford,2.0,0.0,H,1.0,0.0,H,L Mason,...,3.0,10.0,15.0,8.0,8.0,1.0,2.0,0.0,0.0,2016
364,2016-08-05,Man City,Arsenal,2.0,2.0,H,1.0,1.0,H,A Taylor,...,2.0,16.0,10.0,7.0,2.0,2.0,1.0,0.0,0.0,2016
365,2016-08-05,Tottenham,Southampton,1.0,2.0,A,1.0,1.0,A,J Moss,...,2.0,8.0,16.0,10.0,2.0,0.0,3.0,0.0,0.0,2016
366,2016-10-05,West Ham,Man United,3.0,2.0,A,1.0,0.0,D,M Dean,...,2.0,6.0,18.0,6.0,2.0,1.0,3.0,0.0,0.0,2016
367,2016-11-05,Liverpool,Chelsea,1.0,1.0,D,0.0,1.0,D,M Oliver,...,7.0,11.0,12.0,7.0,3.0,3.0,1.0,0.0,0.0,2016
368,2016-11-05,Norwich,Watford,4.0,2.0,H,3.0,1.0,D,R East,...,7.0,8.0,12.0,5.0,1.0,2.0,3.0,0.0,0.0,2016
369,2016-11-05,Sunderland,Everton,3.0,0.0,A,2.0,0.0,A,A Taylor,...,6.0,15.0,7.0,5.0,5.0,1.0,0.0,0.0,0.0,2016
370,2016-05-15,Arsenal,Aston Villa,4.0,0.0,H,1.0,0.0,D,M Clattenburg,...,2.0,12.0,6.0,5.0,4.0,0.0,1.0,0.0,0.0,2016
371,2016-05-15,Chelsea,Leicester,1.0,1.0,H,0.0,0.0,H,C Pawson,...,5.0,4.0,12.0,7.0,6.0,0.0,0.0,0.0,0.0,2016
372,2016-05-15,Everton,Norwich,3.0,0.0,A,2.0,0.0,D,L Mason,...,2.0,7.0,11.0,4.0,11.0,0.0,0.0,0.0,0.0,2016
373,2016-05-15,Newcastle,Tottenham,5.0,1.0,A,2.0,0.0,D,A Taylor,...,5.0,7.0,6.0,3.0,8.0,1.0,2.0,1.0,0.0,2016
374,2016-05-15,Southampton,Crystal Palace,4.0,1.0,D,1.0,0.0,D,M Oliver,...,4.0,7.0,14.0,2.0,5.0,1.0,2.0,0.0,0.0,2016
375,2016-05-15,Stoke,West Ham,2.0,1.0,A,0.0,1.0,A,M Jones,...,7.0,8.0,12.0,4.0,10.0,3.0,1.0,0.0,0.0,2016
376,2016-05-15,Swansea,Man City,1.0,1.0,H,1.0,1.0,D,M Dean,...,5.0,4.0,19.0,4.0,4.0,1.0,3.0,0.0,0.0,2016
377,2016-05-15,Watford,Sunderland,2.0,2.0,D,0.0,1.0,A,K Friend,...,4.0,11.0,10.0,7.0,4.0,1.0,0.0,0.0,0.0,2016
378,2016-05-15,West Brom,Liverpool,1.0,1.0,H,1.0,1.0,H,R Madley,...,3.0,11.0,14.0,7.0,5.0,3.0,1.0,0.0,0.0,2016
379,2016-05-17,Man United,Bournemouth,3.0,1.0,D,1.0,0.0,H,J Moss,...,0.0,9.0,8.0,7.0,1.0,1.0,0.0,0.0,0.0,2016

# Team performance EPL 2012-16

In [58]:
EPL_Performance_2012_16=Team_Performance_2013.append(Team_Performance_2014)

In [59]:
EPL_Performance_2012_16=EPL_Performance_2012_16.append(Team_Performance_2015)
EPL_Performance_2012_16=EPL_Performance_2012_16.append(Team_Performance_2016)

In [60]:
EPL2012_16['FTR']=[ result(x) for x in EPL2012_16['FTR']]
EPL2012_16.rename(columns = {'FTR': 'Full_Time'}, inplace = True)

In [61]:
EPL2012_16['HTR']=[ result(x) for x in EPL2012_16['HTR']]
EPL2012_16.rename(columns = {'HTR': 'Half_Time'}, inplace = True)

In [63]:
EPL2012_16.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,Full_Time,HTHG,HTAG,Half_Time,Referee,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,season
0,2012-08-18,Arsenal,Sunderland,0.0,0.0,Draw,0.0,0.0,Draw,C Foy,...,2.0,12.0,8.0,7.0,0.0,0.0,0.0,0.0,0.0,2013
1,2012-08-18,Fulham,Norwich,5.0,0.0,Home,2.0,0.0,Home,M Oliver,...,2.0,12.0,11.0,6.0,3.0,0.0,0.0,0.0,0.0,2013
2,2012-08-18,Newcastle,Tottenham,2.0,1.0,Home,0.0,0.0,Draw,M Atkinson,...,6.0,12.0,8.0,3.0,5.0,2.0,2.0,0.0,0.0,2013
3,2012-08-18,QPR,Swansea,0.0,5.0,Visitor,0.0,1.0,Visitor,L Probert,...,8.0,11.0,14.0,5.0,3.0,2.0,2.0,0.0,0.0,2013
4,2012-08-18,Reading,Stoke,1.0,1.0,Draw,0.0,1.0,Visitor,K Friend,...,3.0,9.0,14.0,4.0,3.0,2.0,4.0,0.0,1.0,2013

In [68]:
EPL_Performance_2012_16.to_csv('.//EDA//EPL_Performance_2012_16.csv',index=False)
EPL2012_16.to_csv('.//EDA//EPL_2012_16.csv',index=False)
Team_stats_2013.to_csv('.//EDA//Team_stats_2013.csv',index=False)
Team_stats_2014.to_csv('.//EDA//Team_stats_2014.csv',index=False)
Team_stats_2015.to_csv('.//EDA//Team_stats_2015.csv',index=False)
Team_stats_2016.to_csv('.//EDA//Team_stats_2016.csv',index=False)